@use "sass:color";
@use "../../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

.dashboard {
  padding: 2rem 5rem;
  font-family: "Inter", sans-serif;
  color: $text1;
  background-color: $card-bg;
  min-height: 100vh;
}
